{% extends 'base.html' %}
{% block title %}Comment{% endblock %}

{% block content %}


<h1>Add Comment</h1>
<br/><br/>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark">Add Comment</button>

{% endblock %}