{% extends 'base.html' %}
{% block title %}Create New Category{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Add Category</h1>
<br/><br/>

<div class="form-group">
    <form method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark">Add Category</button>
</div>
{% else %}
Invalid User
{% endif %}
{% endblock %}