{% extends 'base.html' %}
{% block title %}Create New Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}

<h1>Add Blog Post</h1>
<br/><br/>

<div class="form-group">
    <form method="POST" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form.as_p }}
        <button class="btn btn-dark">Post</button>
</div>
{% else %}
Invalid User
{% endif %}
{% endblock %}