{% extends 'base.html' %}
{% block title %}Post approval{% endblock %}

{% block content %}

<h1> Admin Post Approval page</h1>
<br>
<br>
<form action="" method=POST>
    {% csrf_token %}


<table class= "table table-striped table-hover table-bordered">
    <thread>
        <tr>
            <th scope="col">Post Name</th>
            <th scope="col">Approved</th>
        </tr>
    </thread>
    <tbody>
    {% for post in post_list %}
        <tr>
            <td>{{post}}</td>
            <td>
                {% if post.approved %}
                <div class="form-check">
                    <input class= "form-check-input"
                    type="checkbox" checked="checked"
                    value= {{post.id}}
                    name="boxes">
                </div>
                {% else %}
                <div class="form-check">
                    <input class= "form-check-input"
                    type="checkbox"
                    value= {{post.id}}
                    name="boxes">
                </div>
                {% endif %}

            </td>
        {% endfor %}
        </tr>
    </tbody>
</table>

<br>
<button class='btn btn-secondary' type="submit">Update Approval</button>

{% endblock %}