{% extends 'base.html' %}
{% block title %}{{ post.title_tag }}{% endblock %}

{% block content %}

<h1>{{ post.title }}-{{ post.author.id }}
</h1>
<small>By: 
{{ post.author.first_name }}
{{ post.author.last_name }} - 
{{ post.post_date }} 

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}

        -
        <a href="{% url 'update_post' post.pk %}">(Edit)</a>
        <a href="{% url 'delete_post' post.pk %}">(Delete)</a>

    {% endif %}
{% endif %}
</small><br/>
<hr>
<br/>
{% if post.header_image %}
<img src="{{ post.header_image.url }}">
{% endif %}
<br><br>
{{ post.body|safe }}

<br><br>
<h2> Comments...</h2>
<br>

{% if not post.comments.all %}
    No comments yet<a href= "{% url 'add_comment' post.pk %}"> Add Comment</a>
{% else %}
<a href= "{% url 'add_comment' post.pk %}"> Add Comment</a>
<br>
<br>
        {% for comment in post.comments.all %}
            <strong>
            {{ comment.name }}
            -
            {{ comment.date_added}}
            </strong>
            <br>
            {{ comment.body }}
            <br> <br>

        {% endfor %}
{% endif %}



<br/><br/>
<a href="{% url 'home' %}" class="btn btn-dark">Back</a>

{% endblock %}