{% extends 'base.html' %}

{% block content %}

{% if category_posts %}

<h1>{{ cats }} Category</h1>

<ul>
    {% for post in category_posts %}
        <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> 
            - {{ post.author.first_name }} 
            {{ post.author.last_name }} -
            {{ post.post_date }} <small>

                {% if user.is_authenticated %}
                - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                    <a href="{% url 'delete_post' post.pk %}">(Delete)</a>
                {% endif %}
            
            
        </small><br>
        {{ post.body|slice:":200" }}</li>
    {% endfor %}
</ul>
{% else %}
    <h2>Sorry this page does not exist</h2>
{% endif %}


{% endblock %} 