{% extends 'base.html' %}
{% block title %}Delete Blog Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}
{% if user.id == post.author.id %}

    <h1>Delete Post</h1>
    <br/><br/>
    <h3>Delete: {{ post.title}} </h3>

    <div class="form-group">
        <form method="POST">
            {% csrf_token %}
            <strong>Confirm to delete</strong><br><br>
            <button class="btn btn-dark">Delete Post</button>
    </div>
    {% else %}
    Sorry. You don't have access.
    {% endif %}
{% else %}
Invalid User
{% endif %}

{% endblock %}