{% extends 'base.html' %}

{% block content %}

    <h1>Post</h1>

    <ul>
    {% for post in object_list %}

        {% if post.approved %}
            <li><a href="{% url 'article-detail' post.pk %}">{{ post.title }}</a> 
                - <a href="{% url 'category' post.category|slugify %}">{{ post.category }}</a>
                - {{ post.author.first_name }} 
                {{ post.author.last_name }} -
                {{ post.post_date }} <small>
            

                    {% if user.is_authenticated %}
                        {% if user.id == post.author.id %}
                        - <a href="{% url 'update_post' post.pk %}">(Edit)</a>
                            <a href="{% url 'delete_post' post.pk %}">(Delete)</a>

                        {% endif %}        
                    {% endif %}
                
                
            </small><br>
            {{ post.body|slice:":200" }}</li>

        {% endif %}
        <br>
    {% endfor %}
    </ul> 


{% endblock %}