{% extends 'base.html' %}
{% block title %}Edit Post{% endblock %}

{% block content %}

{% if user.is_authenticated %}
    {% if user.id == post.author.id %}


        <h1>Update Post</h1>
        <br/><br/>

        <div class="form-group">
            <form method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <button class="btn btn-dark">Update</button>
        </div>
    {% else %}
        Sorry. You dont have access.
    {% endif %}
{% else %}
    Invalid User
{% endif %}
{% endblock %}